<div class="sidebar">
  <div class="logo">
    <img class="image" src="\WhatsApp_Image_2026-02-13_at_2.30.20_PM-removebg-preview.png" alt="no image found">

    <h2>Lab Equipment Inventory</h2>
  </div>
  <ul>
    <li routerLink="/dashboard" routerLinkActive="active">
      <span class="icon">📊</span>
      <span class="text">Dashboard</span>
    </li>
    <li routerLink="/all-equipment" routerLinkActive="active">
      <span class="icon">🧪</span>
      <span class="text">All Equipment</span>
    </li>
    <li routerLink="/users" routerLinkActive="active">
      <span class="icon">📑</span>
      <span class="text">All Users</span>
    </li>
    <li routerLink="/settings" routerLinkActive="active">
      <span class="icon">⚙️</span>
      <span class="text">All Requests</span>
    </li>
  </ul>
  <div class="version">v1.0.0</div>
</div>
